@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

main {
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 100px 0;
  min-height: calc(100vh - 136px); }

h1 {
  font-size: 1.75rem;
  margin-bottom: 20px; }

header {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #477998;
  box-shadow: 0 8px 8px -4px #477998;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: 100px;
  min-height: 100px;
  height: 100px; }
  header nav ul {
    display: block;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; }
  header nav li {
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease; }
    header nav li:hover {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
  header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

p {
  background-color: 0; }

main {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 1rem 2rem 0 2rem; }

#form {
  width: 20%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #477998;
  box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -webkit-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -moz-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  color: white;
  border-radius: 1rem;
  height: 100%; }
  #form input {
    font-family: inherit; }
  #form legend {
    margin: 1rem 0 0.5rem 0; }
  #form #search {
    width: 100%; }
  #form #form-title {
    text-align: center; }
  #form #form-section-price {
    display: flex;
    justify-content: space-around; }
    #form #form-section-price input {
      width: 45%; }
  #form #form-section-stars {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Primera columna más pequeña */
    color: yellow; }
    #form #form-section-stars input {
      margin-right: 0.5rem; }
  #form #btn-submit {
    margin-top: 1rem;
    background-color: #011627;
    color: white;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 0; }
  #form #btn-clear {
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 0; }

#items-section {
  width: 100%;
  padding: 2rem; }
  #items-section .item-card {
    padding: 1rem;
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-columns: 20% 1fr 10%;
    grid-template-rows: 15% 10% 20% 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-image: linear-gradient(white 15%, #477998);
    box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
    -webkit-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
    -moz-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
    border-radius: 1.5rem; }
    #items-section .item-card img {
      grid-row: 1 / 5;
      width: 100%;
      height: 100%;
      object-fit: contain; }
    #items-section .item-card .item-card-title {
      grid-column: 2 /3; }
    #items-section .item-card .item-card-price {
      grid-column: 3 /4;
      grid-row: 1; }
    #items-section .item-card .item-card-plataform {
      grid-row: 2/3;
      grid-column: 2/3; }
    #items-section .item-card .item-card-desc {
      grid-row: 3 / 5;
      grid-column: 2 / span 3;
      text-overflow: ellipsis;
      overflow: hidden; }
