@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif; }

main {
  margin: 1rem 2rem 0 2rem; }

select,
input {
  font-family: inherit; }

.f-display {
  display: flex; }

.border-r-1 {
  border-radius: 1rem; }

.stars-rate {
  color: orange;
  font-size: 1.2rem; }

.btn {
  margin-top: 1rem;
  height: 2rem;
  border-radius: 1rem;
  border: 0; }

.btn-sell {
  background-color: #00891b;
  color: white;
  transition-duration: 0.2s; }
  .btn-sell:hover {
    background-color: #00b324; }

.btn-delete {
  background-color: #a10000;
  color: white;
  transition-duration: 0.2s; }
  .btn-delete:hover {
    background-color: #c50000; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #477998;
  box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -webkit-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -moz-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 100px; }
  header nav ul {
    display: block;
    text-transform: uppercase;
    list-style: none;
    text-align: center; }
  header nav li {
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem 2rem;
    transition-duration: 0.2s; }
    header nav li:hover {
      background-color: #dadada; }
    header nav li:hover {
      border-radius: 1rem; }
  header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700; }

p {
  background-color: 0; }

#new-item-section {
  margin: 1rem 2rem 0 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  #new-item-section .new-item-card {
    border: 4px solid #ededed;
    padding: 1rem;
    box-shadow: 8px 9px 13px -2px rgba(218, 218, 218, 0.75);
    -webkit-box-shadow: 8px 9px 13px -2px rgba(218, 218, 218, 0.75);
    -moz-box-shadow: 8px 9px 13px -2px rgba(218, 218, 218, 0.75);
    flex-direction: column;
    align-items: flex-start; }
    #new-item-section .new-item-card .cover {
      aspect-ratio: 3/4;
      width: 100%;
      object-fit: contain;
      margin: 0 auto 1rem auto; }
    #new-item-section .new-item-card .inline h3,
    #new-item-section .new-item-card .inline p {
      display: inline; }
    #new-item-section .new-item-card .inline p {
      margin-left: 1rem; }
    #new-item-section .new-item-card button {
      margin: 1rem 0.5rem 0 auto;
      background-color: #477998;
      width: 40%;
      color: white;
      transition-duration: 0.2s; }
      #new-item-section .new-item-card button:hover {
        background-color: #002b4f; }

#sales-results {
  margin: 1rem 0 0 2rem;
  width: 100%;
  height: 100%; }
  #sales-results table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle; }
    #sales-results table thead {
      background-color: #011627;
      color: white; }
    #sales-results table tbody tr:nth-child(even) {
      background-color: whitesmoke; }
    #sales-results table tbody tr:nth-child(odd) {
      background-color: gainsboro; }
    #sales-results table th,
    #sales-results table td {
      border: 1px solid black; }
    #sales-results table li {
      list-style: none;
      display: flex;
      align-items: center; }
      #sales-results table li img {
        aspect-ratio: 3/4;
        height: 5rem;
        margin: 0.5rem 1rem 0.5rem 1rem; }
    #sales-results table .th-cb {
      width: 2%; }
    #sales-results table .th-order {
      width: 5%; }
    #sales-results table .th-date {
      width: 8%; }
    #sales-results table .th-price {
      width: 10%; }
    #sales-results table .th-seller {
      width: 10%; }

.btn-section {
  display: flex;
  margin-bottom: 1rem; }
  .btn-section .btn {
    margin: auto;
    width: 40%; }

.modal-bg {
  background-color: #000000bf;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; }

.modal-game {
  background-color: white;
  display: grid;
  width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px; }
  .modal-game img {
    aspect-ratio: 3/4;
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .modal-game .tag {
    margin-right: 0.5rem;
    border: 1px solid red;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem; }
  .modal-game .div1 {
    grid-area: 1 / 1 / 11 / 3;
    margin-right: 2rem; }
  .modal-game .div2 {
    grid-area: 1 / 3 / 2 / 6; }
  .modal-game .div3 {
    grid-area: 2 / 3 / 3 / 4; }
  .modal-game .div4 {
    grid-area: 2 / 4 / 3 / 5; }
  .modal-game .div5 {
    grid-area: 3 / 3 / 4 / 6; }
  .modal-game .div6 {
    grid-area: 4 / 3 / 5 / 6; }
  .modal-game .div7 {
    grid-area: 5 / 3 / 7 / 6; }

.modal-sell {
  background-color: white;
  width: 60rem;
  padding: 1.5rem; }
  .modal-sell legend {
    font-size: 1.5rem;
    font-weight: 700; }
  .modal-sell .modal-form {
    justify-content: space-between; }
    .modal-sell .modal-form input[type='number'] {
      width: 2rem; }
    .modal-sell .modal-form input[type='submit'] {
      background-color: #00891b;
      color: white;
      padding: 0 0.5rem;
      transition-duration: 0.2s; }
      .modal-sell .modal-form input[type='submit']:hover {
        background-color: #00b324; }
  .modal-sell .cart {
    margin-left: 3rem; }
    .modal-sell .cart table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 1rem; }
      .modal-sell .cart table td {
        text-align: center; }
    .modal-sell .cart .cart-total {
      justify-content: space-between; }

#filter {
  width: 20%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #477998;
  box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -webkit-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -moz-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  color: white;
  height: 100%; }
  #filter #filter-title {
    text-align: center; }
  #filter #filter-search {
    width: 100%; }
  #filter #filter-sellers {
    width: 100%; }
  #filter legend {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0 0.1rem 0; }
  #filter #filter-price {
    display: flex;
    justify-content: space-around; }
    #filter #filter-price input {
      width: 48%; }
  #filter #filter-stars {
    display: grid;
    grid-template-columns: auto 1fr; }
    #filter #filter-stars input {
      margin-right: 0.5rem; }
  #filter #btn-submit {
    background-color: #011627;
    color: white;
    width: 100%;
    transition-duration: 0.2s; }
    #filter #btn-submit:hover {
      background-color: #002b4f; }
  #filter #btn-clear {
    background-color: white;
    width: 100%;
    transition-duration: 0.2s; }
    #filter #btn-clear:hover {
      background-color: #dadada; }
