@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

main {
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 100px 0;
  min-height: calc(100vh - 136px); }

h1 {
  font-size: 1.75rem;
  margin-bottom: 20px; }

header {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #477998;
  box-shadow: 0 8px 8px -4px #477998;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-height: 100px;
  min-height: 100px;
  height: 100px; }
  header nav ul {
    display: block;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; }
  header nav li {
    display: inline;
    margin-right: 2rem;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease; }
    header nav li:hover {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
  header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

p {
  background-color: 0; }

main {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 1rem 2rem 0 2rem; }

#form {
  width: 20%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #477998;
  box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -webkit-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  -moz-box-shadow: 8px 9px 13px -2px rgba(71, 121, 152, 0.75);
  color: white;
  border-radius: 1rem;
  height: 100%; }
  #form input {
    font-family: inherit; }
  #form legend {
    margin: 1rem 0 0.5rem 0; }
  #form #search {
    width: 100%; }
  #form #form-title {
    text-align: center; }
  #form #form-section-price {
    display: flex;
    justify-content: space-around; }
    #form #form-section-price input {
      width: 45%; }
  #form #form-section-stars {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Primera columna más pequeña */
    color: yellow; }
    #form #form-section-stars input {
      margin-right: 0.5rem; }
  #form #btn-submit {
    margin-top: 1rem;
    background-color: #011627;
    color: white;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 0; }
  #form #btn-clear {
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 0; }

#new-item-section {
  margin: 1rem 2rem 0 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  #new-item-section .new-item-card {
    border: 4px solid #f8f7f7;
    padding: 1rem;
    box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
    -webkit-box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
    -moz-box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #new-item-section .new-item-card .cover {
      aspect-ratio: 3/4;
      width: 100%;
      object-fit: contain;
      margin: 0 auto 1rem auto; }
    #new-item-section .new-item-card .inline h3,
    #new-item-section .new-item-card .inline p {
      display: inline; }
    #new-item-section .new-item-card .inline p {
      margin-left: 1rem; }
    #new-item-section .new-item-card .rate {
      color: yellow;
      font-size: 1.2rem; }
    #new-item-section .new-item-card button {
      margin: 1rem 0.5rem 0 auto;
      background-color: #477998;
      width: 40%;
      height: 2rem;
      border-radius: 1rem;
      border: 0;
      color: white; }
      #new-item-section .new-item-card button:hover {
        background-color: #011627; }

#sales-results {
  margin: 1rem 0 0 2rem;
  width: 100%;
  height: 100%; }
  #sales-results table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle; }
    #sales-results table thead {
      background-color: #011627;
      color: white; }
    #sales-results table tbody tr:nth-child(even) {
      background-color: whitesmoke; }
    #sales-results table tbody tr:nth-child(odd) {
      background-color: gainsboro; }
    #sales-results table th,
    #sales-results table td {
      border: 1px solid black; }
    #sales-results table li {
      list-style: none;
      display: flex;
      align-items: center; }
      #sales-results table li img {
        aspect-ratio: 3/4;
        height: 5rem;
        margin: 0.5rem 1rem 0.5rem 1rem; }
    #sales-results table .th-cb {
      width: 2%; }
    #sales-results table .th-order {
      width: 5%; }
    #sales-results table .th-date {
      width: 8%; }
    #sales-results table .th-price {
      width: 10%; }
    #sales-results table .th-seller {
      width: 10%; }

.btn-section {
  display: flex;
  margin-bottom: 1rem; }
  .btn-section .btn {
    margin: auto;
    width: 40%;
    height: 2rem;
    border-radius: 1rem;
    border: 0; }
  .btn-section .btn-sell {
    background-color: #00891b;
    color: white; }
  .btn-section .btn-delete {
    background-color: #a10000;
    color: white; }
