@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: $font-family;
}
main {
    margin: 1rem 2rem 0 2rem;
}
select,
input {
    font-family: inherit;
}
.f-display {
    display: flex;
}
.border-r-1 {
    border-radius: 1rem;
}
.stars-rate {
    color: orange;
    font-size: 1.2rem;
}
.btn {
    margin-top: 1rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
}
.btn-sell {
    background-color: $color-green;
    color: white;
    @include hover($color-green-hover);
}
.btn-delete {
    background-color: $color-red;
    color: white;
    @include hover($color-red-hover);
}
