@import 'variables.scss';
p {
    background-color: blue($color: #000000);
}
main {
    display: flex;
    font-family: $font-family;
    margin: 1rem 2rem 0 2rem;
}
#form {
    width: 20%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $color-cerulean;
    @include shadow($color-cerulean);
    color: white;
    border-radius: 1rem;
    height: 100%;
    input {
        font-family: inherit;
    }
    legend {
        margin: 1rem 0 0.5rem 0;
    }
    #search {
        width: 100%;
    }
    #form-title {
        text-align: center;
    }
    #form-section-price {
        display: flex;
        justify-content: space-around;
        input {
            width: 45%;
        }
    }
    #form-section-stars {
        display: grid;
        grid-template-columns: auto 1fr; /* Primera columna más pequeña */
        input {
            margin-right: 0.5rem;
        }
        color: yellow;
    }

    #btn-submit {
        margin-top: 1rem;
        background-color: $color-rich-black;
        color: white;
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
        border: 0;
    }
    #btn-clear {
        margin-top: 1rem;
        background-color: white;
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
        border: 0;
    }
}
#new-item-section {
    margin: 1rem 2rem 0 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    .new-item-card {
        border: 4px solid rgb(248, 247, 247);
        padding: 1rem;
        box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
        -webkit-box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
        -moz-box-shadow: 6px 13px 10px 6px rgba(217, 217, 217, 0.92);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .cover {
            aspect-ratio: 3/4;
            width: 100%;
            object-fit: contain;
            margin: 0 auto 1rem auto;
        }
        .inline {
            h3,
            p {
                display: inline;
            }
            & p {
                margin-left: 1rem;
            }
        }
        .rate {
            color: yellow;
            font-size: 1.2rem;
        }
        button {
            margin: 1rem 0.5rem 0 auto;
            background-color: $color-cerulean;
            width: 40%;
            height: 2rem;
            border-radius: 1rem;
            border: 0;
            color: white;

            &:hover {
                background-color: $color-rich-black;
            }
        }
    }
}
