#sales-results {
    margin: 1rem 0 0 2rem;
    width: 100%;
    height: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        thead {
            background-color: $color-rich-black;
            color: white;
        }

        tbody tr:nth-child(even) {
            background-color: whitesmoke;
        }

        tbody tr:nth-child(odd) {
            background-color: gainsboro;
        }
        th,
        td {
            border: 1px solid black;
        }
        li {
            list-style: none;
            display: flex;
            align-items: center;

            img {
                aspect-ratio: 3/4;
                height: 5rem;
                margin: 0.5rem 1rem 0.5rem 1rem;
            }
        }
        .th-cb {
            width: 2%;
        }
        .th-order {
            width: 5%;
        }
        .th-date {
            width: 8%;
        }
        .th-price {
            width: 10%;
        }
        .th-seller {
            width: 10%;
        }
    }
}
.btn-section {
    display: flex;
    margin-bottom: 1rem;

    .btn {
        margin: auto;
        width: 40%;
        height: 2rem;
        border-radius: 1rem;
        border: 0;
    }
    .btn-sell {
        background-color: rgb(0, 137, 27);
        color: white;
    }
    .btn-delete {
        background-color: rgb(161, 0, 0);
        color: white;
    }
}
.modal-bg {
    background-color: #000000bf;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.modal-sell {
    background-color: white;
    width: 60rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.modal-form {
    display: flex;
    justify-content: space-between;
}
.modal-form-btn {
    margin-top: 1rem;
}
.cart-items-row {
    display: flex;
}
.cart-total {
    display: flex;
    justify-content: space-between;
}
