$color-rich-black: #011627;
$color-red: #ff0022;
$color-tea: #aec792;
$color-cerulean: #477998;

$font-family: 'Poppins', sans-serif;
$font-size-light: 200;
$font-size-regular: 400;
$font-size-bold: 700;

$background-color: #f3f6f9;
$font-color: #000000;
$font-color-light: #fff;

$header-height: 100px; //Altura del encabezado

$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px); //Altura mínima del área de trabajo

@mixin shadow($color) {
    box-shadow: 8px 9px 13px -2px rgba($color, 0.75);
    -webkit-box-shadow: 8px 9px 13px -2px rgba($color, 0.75);
    -moz-box-shadow: 8px 9px 13px -2px rgba($color, 0.75);
}
