$color-rich-black: #011627;
$color-red: #ff0022;
$color-tea: #c4d6b0;
$color-cerulean: #477998;

$font-family: 'Poppins', sans-serif;
$font-size-light: 200;
$font-size-regular: 400;
$font-size-bold: 700;
